<div class="container">
  <h1>Create an Account</h1>
  <form method="post" action="/create">
    <p>Email: <input type="text" name="email"></p>
    <p>Password: <input type="text" name="password"></p>
    <p><input type="submit" value="create"></p>
  </form>
</div>
